.image1 {
    background-image: url(../img/strategies/1.jpg);
    width: 200px;
    height: 200px;
    display: inline-block;
}

.image2 {
    background-image: url(../img/strategies/svg.html);
    width: 200px;
    height: 200px;
    display: inline-block;
}


.image__pazzle {
/* Hero */
    position: absolute;
    width: 1196px;
    height: 494.83px;
    left: 122px;
    top: 108px;
/* Image */
    position: absolute;
    width: 642.29px;
    height: 494.83px;
    left: 675.71px;
    top: 108px;
/* Oval */
    position: absolute;
    width: 496.32px;
    height: 438px;
    left: 1228.35px;
    top: 137px;
    background: #FFE5D2;
    transform: matrix(-1, 0, 0, 1, 0, 0);
/* image */
    position: absolute;
    width: 642.29px;
    height: 494.83px;
    left: 675.71px;
    top: 108px;
/* Fill 1 */
    position: absolute;
    width: 9.32px;
    height: 71.54px;
    left: 1186.98px;
    top: 451.69px;
    background: #FFFFFF;
/* Fill 3 */
    position: absolute;
    width: 27.51px;
    height: 108.58px;
    left: 1194.65px;
    top: 400.45px;
    background: #FFFFFF;
/* Fill 5 */
    position: absolute;
    width: 17.25px;
    height: 47.75px;
    left: 929.3px;
    top: 460.59px;
    background: #FFFFFF;
/* Fill 7 */
    position: absolute;
    width: 10.56px;
    height: 23.34px;
    left: 941.29px;
    top: 476.96px;
    background: #FFFFFF;
/* Fill 9 */
    position: absolute;
    width: 26.23px;
    height: 77.95px;
    left: 878.3px;
    top: 324.1px;
    background: #FFFFFF;
/* Fill 11 */
    position: absolute;
    width: 16.41px;
    height: 48.31px;
    left: 900.83px;
    top: 332.87px;
    background: #FFFFFF;
/* Fill 13 */
    position: absolute;
    width: 69.03px;
    height: 66.73px;
    left: 772.01px;
    top: 482.75px;
    background: #FF7B5B;
/* Fill 15 */
    position: absolute;
    width: 19.66px;
    height: 30.07px;
    left: 774.03px;
    top: 518.16px;
    background: #D7D4D4;
/* Fill 17 */
    position: absolute;
    width: 52.59px;
    height: 34.21px;
    left: 774.03px;
    top: 485.42px;
    background: #F5F3F3;
/* Fill 19 */
    position: absolute;
    width: 70.89px;
    height: 66.3px;
    left: 776.35px;
    top: 486.53px;
    background: #FF7B5B;
/* Fill 21 */
    position: absolute;
    width: 57.97px;
    height: 56.04px;
    left: 1236.32px;
    top: 260.37px;
    background: #775298;
/* Fill 23 */
    position: absolute;
    width: 16.51px;
    height: 25.25px;
    left: 1276.08px;
    top: 290.1px;
    background: #D7D4D4;
/* Fill 25 */
    position: absolute;
    width: 44.16px;
    height: 28.73px;
    left: 1248.43px;
    top: 262.61px;
    background: #F5F3F3;
    /* Fill 27 */
    position: absolute;
    width: 59.53px;
    height: 55.67px;
    left: 1231.11px;
    top: 263.54px;
    background: #775298;
    /* Fill 29 */
    position: absolute;
    width: 17.72px;
    height: 18.15px;
    left: 762.43px;
    top: 210.77px;
    background: #FF7B5B;
    /* Fill 31 */
    position: absolute;
    width: 43.76px;
    height: 38.54px;
    left: 706.78px;
    top: 384.28px;
    background: #775298;
    /* Fill 33 */
    position: absolute;
    width: 44.15px;
    height: 36.65px;
    left: 733.9px;
    top: 400.63px;
    background: #775298;
    /* Fill 35 */
    position: absolute;
    width: 56.9px;
    height: 34.25px;
    left: 807.21px;
    top: 305.53px;
    background: #F3A683;
    /* Fill 37 */
    position: absolute;
    width: 66.45px;
    height: 103.86px;
    left: 799.88px;
    top: 327px;
    background: #112129;
    /* Fill 39 */
    position: absolute;
    width: 128.05px;
    height: 103.3px;
    left: 735.55px;
    top: 327px;
    background: #22343D;
    /* Fill 41 */
    position: absolute;
    width: 92.49px;
    height: 116.12px;
    left: 818.8px;
    top: 137.01px;
    background: #FFC6B2;
    /* Fill 43 */
    position: absolute;
    width: 123.89px;
    height: 86.2px;
    left: 675.71px;
    top: 251.13px;
    background: #FFC6B2;
    /* Fill 45 */
    position: absolute;
    width: 92.21px;
    height: 107.02px;
    left: 779.5px;
    top: 231.08px;
    background: #FFFFFF;
    /* Fill 47 */
    position: absolute;
    width: 36.84px;
    height: 29.86px;
    left: 813.89px;
    top: 220.93px;
    background: #FFFFFF;
    /* Fill 49 */
    position: absolute;
    width: 37px;
    height: 37.44px;
    left: 757.76px;
    top: 251.89px;
    background: #FFFFFF;
    /* Fill 51 */
    position: absolute;
    width: 45.45px;
    height: 50.61px;
    left: 765.88px;
    top: 195.81px;
    background: #FFC6B2;
    /* Fill 53 */
    position: absolute;
    width: 28.13px;
    height: 20.89px;
    left: 789.32px;
    top: 235.15px;
    background: #FFC6B2;
    /* Fill 55 */
    position: absolute;
    width: 9.85px;
    height: 4.11px;
    left: 768.04px;
    top: 223.82px;
    background: #FFC6B2;
    /* Fill 57 */
    position: absolute;
    width: 31.71px;
    height: 40.88px;
    left: 758.5px;
    top: 185.15px;
    background: #FF7B5B;
    /* Fill 59 */
    position: absolute;
    width: 8.97px;
    height: 6.5px;
    left: 786.99px;
    top: 216.06px;
    background: #FFFFFF;
    /* Fill 61 */
    position: absolute;
    width: 5.2px;
    height: 3.94px;
    left: 778.64px;
    top: 217px;
    background: #FFB2A0;
    /* Fill 63 */
    position: absolute;
    width: 5.2px;
    height: 3.94px;
    left: 791.45px;
    top: 208.77px;
    background: #FFB2A0;
    /* Fill 65 */
    position: absolute;
    width: 9.01px;
    height: 6.91px;
    left: 783.84px;
    top: 208.87px;
    background: #FF7B5B;
    /* Fill 67 */
    position: absolute;
    width: 8.63px;
    height: 3.74px;
    left: 787.46px;
    top: 230.1px;
    background: #FFA192;
    /* Fill 69 */
    position: absolute;
    width: 3.41px;
    height: 1.74px;
    left: 786.48px;
    top: 207.84px;
    background: #22343D;
    /* Fill 71 */
    position: absolute;
    width: 2.97px;
    height: 2.86px;
    left: 778.86px;
    top: 212.15px;
    background: #22343D;
    /* Fill 73 */
    position: absolute;
    width: 5.29px;
    height: 5.04px;
    left: 774.3px;
    top: 208.77px;
    background: #FF7B5B;
    /* Fill 75 */
    position: absolute;
    width: 6.15px;
    height: 3.34px;
    left: 783.81px;
    top: 203.51px;
    background: #FF7B5B;
    /* Fill 77 */
    position: absolute;
    width: 58.49px;
    height: 11.17px;
    left: 1206.64px;
    top: 219.26px;
    background: #775298;
    /* Fill 79 */
    position: absolute;
    width: 50.92px;
    height: 8.85px;
    left: 1159.22px;
    top: 206.59px;
    background: #775298;
    /* Group 83 */
    position: absolute;
    width: 180.55px;
    height: 83.24px;
    left: 1137.45px;
    top: 143.21px;
    /* Clip 82 */
    position: absolute;
    width: 180.55px;
    height: 83.24px;
    left: 1137.45px;
    top: 143.21px;
    background: #000000;
    /* Fill 81 */
    position: absolute;
    width: 180.55px;
    height: 83.24px;
    left: 1137.45px;
    top: 143.21px;
    background: #775298;
    /* Fill 84 */
    position: absolute;
    width: 17.09px;
    height: 30.65px;
    left: 1151.32px;
    top: 411.48px;
    background: #FFB2A0;
    /* Fill 86 */
    position: absolute;
    width: 25.19px;
    height: 20.36px;
    left: 1251.94px;
    top: 165.98px;
    background: #FFC6B2;
    /* Fill 88 */
    position: absolute;
    width: 25.72px;
    height: 23.73px;
    left: 1094.5px;
    top: 108px;
    background: #FFC6B2;
    /* Fill 90 */
    position: absolute;
    width: 27.66px;
    height: 38.62px;
    left: 1144.74px;
    top: 180.05px;
    background: #FFC6B2;
    /* Fill 92 */
    position: absolute;
    width: 62.42px;
    height: 143.26px;
    left: 1098.37px;
    top: 275.53px;
    background: #FFB2A0;
    /* Fill 94 */
    position: absolute;
    width: 32.01px;
    height: 14.43px;
    left: 1207.16px;
    top: 343.37px;
    background: #FFC6B2;
    /* Fill 96 */
    position: absolute;
    width: 86.46px;
    height: 108.36px;
    left: 1129.19px;
    top: 279.89px;
    background: #FFC6B2;
    /* Fill 98 */
    position: absolute;
    width: 21.53px;
    height: 21.74px;
    left: 1138.62px;
    top: 214.38px;
    background: #FFC6B2;
    /* Fill 100 */
    position: absolute;
    width: 39.77px;
    height: 105.56px;
    left: 1103.44px;
    top: 129.87px;
    background: #FFC6B2;
    /* Fill 102 */
    position: absolute;
    width: 94.53px;
    height: 59.66px;
    left: 1162.63px;
    top: 181.43px;
    background: #FFC6B2;
    /* Fill 104 */
    position: absolute;
    width: 52.7px;
    height: 75.21px;
    left: 1124.85px;
    top: 213.6px;
    background: #22343D;
    /* Fill 106 */
    position: absolute;
    width: 28.63px;
    height: 32.36px;
    left: 1118.62px;
    top: 202.62px;
    background: #22343D;
    /* Fill 108 */
    position: absolute;
    width: 34.81px;
    height: 26.91px;
    left: 1156.9px;
    top: 215.21px;
    background: #22343D;
    /* Fill 110 */
    position: absolute;
    width: 112.9px;
    height: 75.07px;
    left: 1097.42px;
    top: 273.55px;
    background: #22343D;
    /* Fill 112 */
    position: absolute;
    width: 7.18px;
    height: 5.65px;
    left: 1169.31px;
    top: 196.41px;
    background: #FFC6B2;
    /* Fill 114 */
    position: absolute;
    width: 86.5px;
    height: 15.02px;
    left: 1141.44px;
    top: 154.76px;
    background: #775298;
    /* Fill 116 */
    position: absolute;
    width: 7.81px;
    height: 7.36px;
    left: 1151.54px;
    top: 189.1px;
    background: #FF7B5B;
    /* Fill 118 */
    position: absolute;
    width: 10.6px;
    height: 5.74px;
    left: 1148.98px;
    top: 196.68px;
    background: #FFFFFF;
    /* Fill 120 */
    position: absolute;
    width: 4.09px;
    height: 3.09px;
    left: 1160.13px;
    top: 196.07px;
    background: #FFB2A0;
    /* Fill 122 */
    position: absolute;
    width: 4.16px;
    height: 3.01px;
    left: 1148.19px;
    top: 190.36px;
    background: #FFB2A0;
    /* Fill 124 */
    position: absolute;
    width: 7.59px;
    height: 3.33px;
    left: 1148.34px;
    top: 207.62px;
    background: #FFA192;
    /* Fill 126 */
    position: absolute;
    width: 1.68px;
    height: 1.58px;
    left: 1161.41px;
    top: 191.52px;
    background: #22343D;
    /* Fill 128 */
    position: absolute;
    width: 1.68px;
    height: 1.58px;
    left: 1154.53px;
    top: 189.19px;
    background: #22343D;
    /* Fill 130 */
    position: absolute;
    width: 3.12px;
    height: 2.15px;
    left: 1162.77px;
    top: 188.07px;
    background: #775298;
    /* Fill 132 */
    position: absolute;
    width: 4.12px;
    height: 1.36px;
    left: 1153.67px;
    top: 185.65px;
    background: #775298;
    /* Fill 134 */
    position: absolute;
    width: 11.33px;
    height: 28.58px;
    left: 1157.46px;
    top: 414.67px;
    background: #22343D;
    /* Fill 136 */
    position: absolute;
    width: 27.13px;
    height: 8.36px;
    left: 1213.06px;
    top: 343.01px;
    background: #22343D;
    /* Fill 138 */
    position: absolute;
    width: 6.72px;
    height: 9.43px;
    left: 1207.55px;
    top: 350.84px;
    background: #22343D;
    /* Fill 140 */
    position: absolute;
    width: 12.13px;
    height: 11.54px;
    left: 1148.22px;
    top: 408.15px;
    background: #22343D;
    /* Fill 142 */
    position: absolute;
    width: 108.78px;
    height: 117.3px;
    left: 899.6px;
    top: 229.31px;
    background: #22343D;
    /* Fill 144 */
    position: absolute;
    width: 24.78px;
    height: 25.61px;
    left: 887.21px;
    top: 444.74px;
    background: #FFC6B2;
    /* Fill 146 */
    position: absolute;
    width: 29.62px;
    height: 25.17px;
    left: 1026.83px;
    top: 237.37px;
    background: #FFC6B2;
    /* Fill 148 */
    position: absolute;
    width: 28.77px;
    height: 39.87px;
    left: 970.14px;
    top: 316px;
    background: #FFC6B2;
    /* Fill 150 */
    position: absolute;
    width: 23.44px;
    height: 21.08px;
    left: 983.91px;
    top: 352.16px;
    background: #FFC6B2;
    /* Fill 152 */
    position: absolute;
    width: 44.26px;
    height: 114px;
    left: 1002.24px;
    top: 260.56px;
    background: #FFC6B2;
    /* Fill 154 */
    position: absolute;
    width: 69.23px;
    height: 91.99px;
    left: 906.41px;
    top: 358.8px;
    background: #FFC6B2;
    /* Fill 156 */
    position: absolute;
    width: 30.41px;
    height: 39.83px;
    left: 999.2px;
    top: 337.71px;
    background: #FF7B5B;
    /* Fill 158 */
    position: absolute;
    width: 29.88px;
    height: 32.62px;
    left: 949.49px;
    top: 356.93px;
    background: #FF7B5B;
    /* Fill 160 */
    position: absolute;
    width: 19.02px;
    height: 32.5px;
    left: 980.84px;
    top: 569.66px;
    background: #FFC6B2;
    /* Fill 162 */
    position: absolute;
    width: 69.47px;
    height: 151.91px;
    left: 989.32px;
    top: 425.5px;
    background: #654287;
    /* Fill 164 */
    position: absolute;
    width: 28.64px;
    height: 26.31px;
    left: 884.72px;
    top: 550.04px;
    background: #FFC6B2;
    /* Fill 166 */
    position: absolute;
    width: 97.18px;
    height: 128.33px;
    left: 907.48px;
    top: 432.7px;
    background: #775298;
    /* Fill 168 */
    position: absolute;
    width: 53.5px;
    height: 74.14px;
    left: 960.62px;
    top: 416.6px;
    background: #775298;
    /* Fill 170 */
    position: absolute;
    width: 59.75px;
    height: 79.76px;
    left: 965.89px;
    top: 349.35px;
    background: #FF7B5B;
    /* Fill 172 */
    position: absolute;
    width: 76.66px;
    height: 73.1px;
    left: 1016.56px;
    top: 197.81px;
    background: #FFFFFF;
    /* Fill 174 */
    position: absolute;
    width: 61.07px;
    height: 68.05px;
    left: 1058.84px;
    top: 410.73px;
    background: #FFFFFF;
    /* Fill 176 */
    position: absolute;
    width: 61.07px;
    height: 69.57px;
    left: 912.03px;
    top: 275.89px;
    background: #22343D;
    /* Fill 178 */
    position: absolute;
    width: 35.93px;
    height: 70.94px;
    left: 972.22px;
    top: 244.38px;
    background: #22343D;
    /* Fill 180 */
    position: absolute;
    width: 8.58px;
    height: 6.94px;
    left: 981.49px;
    top: 326.71px;
    background: #FF7B5B;
    /* Fill 182 */
    position: absolute;
    width: 9.42px;
    height: 5.39px;
    left: 983.74px;
    top: 334.32px;
    background: #FFFFFF;
    /* Fill 184 */
    position: absolute;
    width: 4.09px;
    height: 3.09px;
    left: 978.83px;
    top: 333.18px;
    background: #FFB2A0;
    /* Fill 186 */
    position: absolute;
    width: 4.18px;
    height: 2.99px;
    left: 989.87px;
    top: 327.67px;
    background: #FFB2A0;
    /* Fill 188 */
    position: absolute;
    width: 7.17px;
    height: 2.23px;
    left: 984.02px;
    top: 345.98px;
    background: #FFA192;
    /* Fill 190 */
    position: absolute;
    width: 1.68px;
    height: 1.58px;
    left: 985.86px;
    top: 326.2px;
    background: #22343D;
    /* Fill 192 */
    position: absolute;
    width: 1.68px;
    height: 1.58px;
    left: 979.52px;
    top: 329.63px;
    background: #22343D;
    /* Fill 194 */
    position: absolute;
    width: 3.54px;
    height: 1.5px;
    left: 983.74px;
    top: 322.58px;
    background: #22343D;
    /* Fill 196 */
    position: absolute;
    width: 2.97px;
    height: 2.86px;
    left: 976.27px;
    top: 326.47px;
    background: #22343D;
    /* Fill 198 */
    position: absolute;
    width: 6.7px;
    height: 4.2px;
    left: 968.13px;
    top: 334.76px;
    background: #FFC6B2;
    /* Fill 200 */
    position: absolute;
    width: 15.75px;
    height: 23.26px;
    left: 884.36px;
    top: 553.7px;
    background: #775298;
    /* Fill 202 */
    position: absolute;
    width: 9.74px;
    height: 26.86px;
    left: 980.55px;
    top: 575.97px;
    background: #775298;
    /* Left side */
    position: absolute;
    width: 550.52px;
    height: 331px;
    left: 122px;
    top: 191px;
    /* Button */
    position: absolute;
    width: 388.98px;
    height: 53px;
    left: 122px;
    top: 469px;
    /* button */
    position: absolute;
    width: 171.11px;
    height: 23px;
    left: 339.87px;
    top: 484px;
    /* Watch the Video */
    position: absolute;
    height: 24px;
    left: 16.15%;
    right: 0%;
    top: calc(50% - 24px/2 + 0.5px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #FF9900;
    /* Triangle Copy 6 */
    position: absolute;
    left: 10.87%;
    right: 77.44%;
    top: 6.52%;
    bottom: 14.93%;
    background: #FF9900;
    border-radius: 1.125px;
    transform: rotate(90deg);
    /* button */
    position: absolute;
    width: 174px;
    height: 53px;
    left: 122px;
    top: 469px;
    /* Rectangle */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FF9900;
    border-radius: 4px;
    /* Get started */
    position: absolute;
    height: 22px;
    left: 23.43%;
    right: 23.43%;
    top: calc(50% - 22px/2 - 0.5px);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
    /* Text */
    position: absolute;
    width: 550.52px;
    height: 233px;
    left: 122px;
    top: 191px;
    /* The Design Thinking */
    position: absolute;
    width: 550.52px;
    height: 108px;
    left: 122px;
    top: 191px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */
    color: #2F281E;
    /* Tools, tutorials, de */
    position: absolute;
    width: 486.75px;
    height: 95px;
    left: 122px;
    top: 329px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #544837;
}