.pic1 {
    background-image: url(/Friday_Live_Coding/img/strategies/pic1.jpg);
    width: 377px;
    height: 199.94px;
    left: 0px;
    top: 0px;
    display: inline-block;
}

.pic2 {
    background-image: url(/Friday_Live_Coding/img/strategies/pic2.jpg);
    width: 376px;
    height: 199.94px;
    left: 0px;
    top: 0px;
    display: inline-block;
}

.pic3 {
    background-image: url(/Friday_Live_Coding/img/strategies/pic3.jpg);
    width: 376px;
    height: 199.94px;
    left: 0px;
    top: 0px;
    display: inline-block;
}

.pic4 {
    background-image: url(/Friday_Live_Coding/img/strategies/pic4.jpg);
    height: 199.9442901611328px;
    width: 787px;
    left: 0px;
    top: 0px;
    display: inline-block;
}

.pic5 {
    background-image: url(/Friday_Live_Coding/img/strategies/pic5.jpg);
    height: 199.9442901611328px;
    width: 377px;
    left: 0px;
    top: 0px;
    display: inline-block;
}

.bitmap_for_logo {
    background-image: url(/Friday_Live_Coding/img/Bitmap_for_logo.png);
    background-size: 102%;
    height: 32px;
    width: 32.058074951171875px;
    left: 122.03643798828125px;
    top: 22px;
    border-radius: 0px;
    display: flex;
    position: absolute;
}

.image_for_hero {
    background-image: url(/Friday_Live_Coding/img/image_for_hero.svg);
    height: 494.830078125px;
    width: 642.2933349609375px;
    left: 675.7066650390625px;
    top: 108.0006103515625px;
    border-radius: 0px;
    position: absolute;
    display: flex;
}

.avatar1 {
    background-image: url(/Friday_Live_Coding/img/Avatar1.jpg);
    width: 20px;
    height: 20px;
    display: inline-block;
}

.avatar2 {
    background-image: url(/Friday_Live_Coding/img/Avatar2.jpg);
    width: 20px;
    height: 20px;
    display: inline-block;
}

.avatar3 {
    background-image: url(/Friday_Live_Coding/img/Avatar3.jpg);
    width: 20px;
    height: 20px;
    display: inline-block;
}