.pic1 {
    background-image: url(/img/strategies/pic1.jpg);
    width: 377px;
    height: 199.94px;
    left: 0px;
    top: 0px;
    display: flex;
}

.pic2 {
    background-image: url(/img/strategies/pic2.jpg);
    width: 376px;
    height: 199.94px;
    left: 0px;
    top: 0px;
    display: flex;
}

.pic3 {
    background-image: url(/img/strategies/pic3.jpg);
    background-repeat: no-repeat;
    width: 376px;
    height: 199.94px;
    left: 0px;
    top: 0px;
    display: flex;
}

.pic4 {
    background-image: url(/img/strategies/pic4.jpg);
    background-repeat: no-repeat;
    height: 199.9442901611328px;
    width: 787px;
    left: 0px;
    display: flex;
}

.pic5 {
    background-image: url(/img/strategies/pic5.jpg);
    background-repeat: no-repeat;
    width: 787px;
    height: 199.9442901611328px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 46.96%;
    display: flex;
    border-radius: 8px 8px 0px 0px;
}

.image_for_hero img {

    height: 494.830078125px;
    width: 642.2933349609375px;
    // left: 675.7066650390625px;
    // top: 108.0006103515625px;
    // border-radius: 0px;
}

.avatar1 {
    background-image: url(/img/avatar_1.jpg);
    background-repeat: no-repeat;
    width: 98px;
    height: 98px;
    left: 401px;
    top: 2946px;
    background-size: 10rem;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}
