.strategies {
    padding: 30 0px;
    @include media-mobile {

    }
}

.strategies__title {
    margin: 0 0 14px;
}

.strategies__description {
    margin: 0 0 24px;
}

.strategies__tags {
    margin-bottom: 31px;
    @include media-tablet {

    }
    @include media-mobile {
        justify-content: center;
    }
}

//Strategy
.strategy {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    &_hidden {
        display: none;
    }
    @include media-tablet {
        overflow: hidden;
        padding-top: 200px;
    }
}

.strategy__wrapper {
    display: flex;
    align-items: flex-start;
    >* {
        padding-bottom: 30px;
        @include media-tablet {
            flex-basis: 48%;
            box-sizing: none;
        }
        @include media-mobile {
            flex-basis: 100%;
            box-sizing: none;
        }
    }
}

.strategy__content {
    padding: 24px 33px 26px;
    @include media-tablet {
 
    }
}

.block-shadowed {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    @include media-tablet {
        
    }
}

.strategy-wide {
    padding-right: 30px; 
    @include media-tablet {
        padding-right: 0;
    }
}

.strategy__name {
    margin: 0 0 29px;
    justify-content: flex-start; 
}

.strategy__image {
    @include media-tablet {
        // object-fit: cover;
        // width: 358px;
        // min-height: 190.42px;
    }
}
.strategy__cover {
    @include media-tablet {
        background-image: url(./src/img/strategies/pic4.png);
        object-fit: cover;
    }
    @include media-mobile {
        object-fit: cover;
        width: 376px;
        min-height: 200px;
    }
}

.article-modal__content {
    .strategy__image {
        width: 100%;
        @include media-tablet {
            position: static;
        }
    }

    .strategy__date {
        @include font ($size: 1.3rem, $weight: normal);
        margin: 0 0 5px;
    }

    .strategy__name {
        margin-bottom: 10px;
    }

    .strategy__text {
        margin: 0 0 12px;
    }
}